body {
    background: rgb(255, 255, 255);
    color: white;
}

ul {
    list-style: none;
}

img {
    width: 170px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 32px;
    white-space: nowrap;
}
